<!DOCTYPE html>
<html lang='en'>
  
  <head>
      <meta charset='utf-8'>
      <title>Twitter Bot or Not</title>
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

      <link rel="stylesheet" type = 'text/css' href="../static/botdetection.css">
  </head>
  

  <body>
    <div class="header">
      <h1 class = "title">Twitter Bot Detector</h1>
    </div>
    <p><a class="button is-info is-rounded" type='submit' href="{{ url_for('byhandle') }}">By Twitter Handle</a></p>
    <p><a class="button is-info is-rounded" type='submit' href="{{ url_for('bytweet') }}">By Tweet</a></p>
  </body>

</html>